# macOS Finder metadata
.DS_Store

# Xcode user-specific files (helps avoid merge conflicts)
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build output
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace/

